<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h1>Список контейнеров</h1>
    <ul>
        {{range $key, $value := .}}
            <li>
                <a href="http://localhost:8080/containers/{{$value.Id}}" class="btn btn-primary">
                    <div class="card">
                        <img class="card-img-top" src={{$value.ImageURL}} alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-text">№{{$value.Id}}</h5>
                            <p class="card-text">{{$value.Type.Name}}</p>
                            <p class="card-text">{{$value.CurrentLocation}}</p>
                            <h5 class="card-title">Груз:</h5>
                            <p class="card-title">{{$value.Cargo.Name}}</p>
                        </div>
                    </div>
                </a>
            </li>
        {{end}}
    </ul>
</body>
</html>