<!DOCTYPE html>
<html>
<head>
    <title>{{.Marking}}</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <div class="grid grid-info">
        <div class="image-container item-image" style="background-image: url('/image/{{.ImageURL}}');"></div>
        <div class="panel">
            <h4 class="title">Контейнер №{{.Marking}}</h4>
            {{if .IsDeleted}}
                <p class="info"><b>Списан</b></p>
            {{end}}
            <p class="info"><b>Тип:</b> {{.Type}}</p>
            <p class="info"><b>Длина:</b> {{.Length}} мм</p>
            <p class="info"><b>Ширина:</b> {{.Width}} мм</p>
            <p class="info"><b>Высота:</b> {{.Height}} мм</p>
        </div>
        <div class="cargo-content">
            <div class="panel">
                <h4 class="title">Груз</h4>
                <p class="info"><b>Товар: </b>{{if .Cargo}}{{.Cargo}}{{else}}Отсутствует{{end}}</p> 
                <p class="info"><b>Вес: </b>{{.Weight}} кг</p> 
            </div>
            <a href="/containers" class="button button-primary">Назад </a>
        </div>
    </div>
</body>
</html>